.cabecera {
    align-items: center;
    background: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2rem 10px 2rem;
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 1000;
}

@media screen and (min-width:0) {
    .cabecera {
        padding: 0 1rem;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .cabecera {
        padding: 0 5rem;
        justify-content: space-between;
    }
}