.header {
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    position: fixed;
    top: 0;

    width: 100%;

    z-index: 1000;
}
