:root {
    --blanco: #f9f9f9;
    --rojo: #da2b1f;
    --rojo-oscuro: #b31d12;
    --negro: #000000;
    --rosa: #dab997;
    --gris: #808080;
}

html{
    scroll-behavior: smooth;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Asigna un color diferente 
    body {
        background-color: red;
    }*/

    .rodapie{
        flex-direction: column;
        padding-top: 5rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .recetas {
        min-height: 100vh;
        background-color: var(--rosa);

        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "card"
        ;
    }

    .rodapie__descripcion{
        margin-left: 0rem;
    }

    .persona__imagen{
        width: 10rem;
        height: 10rem;
    }

    .header__menu{
        width: 100%;
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Asigna un color diferente 
    body {
        background-color: orange;
    }*/

    .rodapie{
        flex-direction: column;
        padding-top: 5rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .rodapie__descripcion{
        margin-left: 0rem;
    }

    .header__menu{
        width: 100%;
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Asigna un color diferente
    body {
        background-color: yellow;
    } */

    .rodapie{
        flex-direction: column;
        padding-top: 5rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .rodapie__descripcion{
        margin-left: 0rem;
    }

    .header__menu{
        width: 100%;
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Asigna un color diferente 
    body {
        background-color: green;
    }*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* Asigna un color diferente 
    body {
        background-color: blue;
    }*/
}