.receta__boton{
    background-color: var(--rojo);
    border: none;
    padding: 10px;
    color: var(--blanco);
    border-radius: 5px;
    transition: all ease-in-out 200ms;
}

.receta__boton:hover{
    background-color: var(--rojo-oscuro);
}