.receta{
    background-color: var(--blanco);
    margin: 1.5rem;

    overflow: hidden;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}